<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Balancete de Verificação</title>
  </head>
  <body>
    <div class="container">
      <h1>Balancete de Verificação</h1>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Débito (R$)</th>
            <th>Crédito (R$)</th>
          </tr>
        </thead>
        <tbody>
          {% for conta in contas %}
          <tr>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.debito | currency }}</td>
            <td>{{ conta.credito | currency }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2>Totais</h2>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Valor (R$)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Total Débitos</strong></td>
            <td>
              <strong>
                {{ contas | map(attribute='debito') | sum | currency }}
              </strong>
            </td>
          </tr>
          <tr>
            <td><strong>Total Créditos</strong></td>
            <td>
              <strong>
                {{ contas | map(attribute='credito') | sum | currency }}
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btn-container">
        <a href="/" class="btn">Voltar para a Página Inicial</a>
      </div>
    </div>
  </body>
</html>
