<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Sistema Contábil</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Bem-vindo ao Sistema Contábil</h1>
      <a href="/add">Adicionar Lançamento</a>
      <a href="/lancamentos">Ver Lançamentos</a>
      <a href="/balancete">Ver Balancete de Verificação</a>
      <a href="/dre">Ver DRE</a>
      <a href="/balanco_patrimonial">Ver Balanço Patrimonial</a>
    </div>
  </body>
</html>
