<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Sistema Contábil - Página Inicial</title>
  </head>
  <body>
    <div class="container">
      <h1>Sistema Contábil - Página Inicial</h1>

      <!-- Link para adicionar um novo lançamento -->
      <a href="/add">Adicionar Lançamento</a>
      <a href="/lancamentos">Ver Lançamentos</a>
      <h2>Relatórios</h2>
      <ul style="list-style: none">
        <li><a href="/balancete">Balancete de Verificação</a></li>
        <li><a href="/dre">Demonstração do Resultado do Exercício</a></li>
        <li><a href="/balanco_patrimonial">Balanço Patrimonial</a></li>
      </ul>
    </div>
  </body>
</html>
