<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Lista de Lançamentos</title>
  </head>
  <body>
    <div class="container">
      <h1>Lista de Lançamentos</h1>
      {% if lancamentos %}
      <table class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Tipo</th>
            <th>Conta</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for lancamento in lancamentos %}
          <tr>
            <td>{{ lancamento.id }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td>{{ lancamento.valor | currency }}</td>
            <td>{{ lancamento.tipo }}</td>
            <td>{{ contas[lancamento.conta_id - 1]['nome'] }}</td>
            <td>
              <a
                href="{{ url_for('edit', id=lancamento['id']) }}"
                class="btn btn-edit"
                >Editar</a
              >
              <form
                action="{{ url_for('delete', id=lancamento['id']) }}"
                method="POST"
                style="display: inline"
              >
                <button type="submit" class="btn btn-delete">Deletar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>
        Nenhum lançamento encontrado.
        <a href="/add">Adicione um novo lançamento</a>
      </p>
      {% endif %}
      <br />
      <a href="/">Voltar para a Página Inicial</a>
    </div>
  </body>
</html>
