<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Lançamentos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Lista de Lançamentos</h1>
      <table border="1" cellpadding="10">
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Tipo</th>
          <th>Conta</th>
          <th>Ações</th>
        </tr>
        {% for lancamento in lancamentos %}
        <tr>
          <td>{{ lancamento['id'] }}</td>
          <td>{{ lancamento['descricao'] }}</td>
          <td>{{ lancamento['valor']|currency }}</td>
          <td>{{ lancamento['tipo'] }}</td>
          <td>{{ lancamento['conta_nome'] }}</td>
          <td>
            <a href="/edit/{{ lancamento['id'] }}">Editar</a>
            <form
              action="/delete/{{ lancamento['id'] }}"
              method="post"
              style="display: inline"
              onsubmit="return confirm('Tem certeza que deseja apagar este lançamento?');"
            >
              <button type="submit">Apagar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <a href="/">Voltar para o início</a>
    </div>
  </body>
</html>
